<div id="<%= dom_id post %>" class="container">
  <p>
    <strong>Livro:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Autor:</strong>
    <%= post.description %>
  </p>

  <p>
  <strong>Nota:</strong>
  <%= post.classification %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= post.text %>
  </p>

</div>
